/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #01103b;
$font-color: #fff;

body {
  background-color: $primary-background;
  color: $font-color;
  display: grid;
  grid-template-areas:
    "head head"
    "main section";
  grid-template-columns: 80% 20%;
  grid-template-rows: 15% 85%;
}

input {
  border: none;
  border-radius: 3px;
}

.header-container {
  grid-area: head;
}

.heading {
  font-size: 2em;
}

.main-container {
  grid-area: main;
}

.player-info {
  grid-area: section;
}

.jeopardy-board {
  height: 100%;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}

th,
td {
  border: 1px solid #fff;
  border-radius: 6px;
  height: 20%;
  margin: 5px;
  width: 25%;
}

.category {
  grid-area: cat;
}

.card {
  grid-area: card;
}
